:root {

    // colors OLD - НУЖНО ЗАМЕНИТЬ И УДАЛИТЬ

    --color-primary: #00d3e2;
    --color-secondary: #00A2E2;

    --color-text-dark-primary: #000;
    --color-text-dark-secondary: rgba(0, 0, 0, 0.7);

    --color-text-light-primary: #fff;
    --color-text-light-secondary: rgba(255, 255, 255, 0.8);

    // fonts

    --font-primary: "Stem", sans-serif;
    --font-secondary: "Gilroy", sans-serif;

    // colors

    --color-main-1: #00d3e2;
    --color-main-2: #00A2E2;

    --color-text-dark-1: #000;
    --color-text-dark-2: rgba(0, 0, 0, 0.7);
    --color-text-dark-3: rgba(0, 0, 0, 0.6);

    --color-text-light-1: #fff;
    --color-text-light-2: rgba(255, 255, 255, 0.8);
    --color-text-light-3: rgba(255, 255, 255, 0.7);
}