.about {
    padding: 100px 0 60px;

    @include tablet {
        padding: 60px 0;
    }

    @include mobile {
        padding: 30px 0;
    }

    &__inner {
        margin: 0 auto;
        max-width: 730px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__subtitle {
        font-family: var(--font-secondary);
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33333;
        text-align: center;
        color: var(--color-main-1);
    }

    &__title {
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 48px;
        line-height: 1.08333;
        text-align: center;
        color: var(--color-text-dark-1);

        @include tablet {
            font-size: 42px;
        }

        @include mobile {
            font-size: 36px;
        }
    }

    &__text {
        font-family: var(--font-secondary);
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33333;
        text-align: center;
        color: var(--color-text-dark-2);
    }

    &__link {
        margin: 16px 0 0 0;
        font-family: var(--font-secondary);
        font-weight: 700;
    }
}