.btn {
    padding: 16px 32px;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    color: var(--color-text-light-primary);
    background: var(--color-primary);
    border-radius: 6px;

    &:hover {
        background: var(--color-secondary);
    }

    &--small {
        padding: 10px 20px;
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 15px;
    }

    &--wide {
        width: 100%;
    }
}