.contacts {
    position: relative;
    padding: 120px 0;
    min-height: 400px;
    background: #00d3e2;

    &__info {}

    &__container {
        margin: 0 auto;
        padding: 0 15px;
        max-width: calc(920px + 30px);
    }

    &__inner {
        max-width: 271px;
    }

    &__title {}

    &__phone {}

    &__email {}

    &__address {}

    &__map {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        overflow: hidden;
    }
}