.footer {
    padding: 80px 0;

    @include mobile {
        padding: 40px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__socials-item {}

    &__socials-link {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-primary-1);

        @include mobile {
            width: 46px;
            height: 46px;
        }

        &:hover {
            background: var(--color-primary-2);
        }
    }

    &__socials-img {}

    &__menu {}

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 40px;

        @include tablet {
            flex-direction: column;
            gap: 20px;
        }

        @include mobile {
            gap: 12px;
        }
    }

    &__menu-item {}

    &__menu-link {
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33333;
        color: var(--color-text-dark-2);

        @include mobile {
            font-size: 16px;
        }

        &:hover {
            color: var(--color-primary-1);
        }
    }

    &__copyright {
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 15px;
        line-height: 1.33333;
        color: var(--color-text-dark-3);
    }
}