.form {

    &__person {
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__input {
        border: 2px solid #fff;
        border-radius: 6px;
        padding: 16px 20px;
        height: 56px;
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33333;
        color: var(--color-text-dark-1);
        background: #fff;

        &::placeholder {
            color: var(--color-text-dark-5);
        }

        &:focus {
            border-color: var(--color-main-1);
            transition: all .2s;
        }
    }

    &__delivery {
        margin-bottom: 24px;
        padding: 16px 0 24px;
    }

    &__delivery-title {
        margin-bottom: 16px;
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33333;
        color: var(--color-text-light-1);
    }

    &__delivery-types {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    &__radio {
        cursor: pointer;

        &:hover {

            .form__radio-text {

                &::before {
                    border-color: var(--color-main-1);
                }
            }
        }
    }

    &__radio-input {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;

        &:checked + .form__radio-text {

            &::before {
                border-color: var(--color-main-1);
                background: var(--color-main-1);
            }

            &::after {
                opacity: 1;
            }
        }
    }

    &__radio-text {
        position: relative;
        display: flex;
        align-items: center;
        gap: 16px;
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33333;
        color: var(--color-text-light-1);

        &::before {
            content: '';
            border-radius: 12px;
            width: 24px;
            height: 24px;
            background: transparent;
            transition: all .2s;
            border: 2px solid rgba(255, 255, 255, 0.3);
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            border-radius: 8px;
            width: 8px;
            height: 8px;
            background: #fff;
            opacity: 0;
            transition: all .2s;
        }
    }

    &__btn {
        margin-bottom: 24px;
    }

    &__agree {
        margin: 0 auto;
        max-width: 450px;
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 13px;
        line-height: 1.38462;
        text-align: center;
        color: var(--color-text-light-3);
    }

    &__agree-link {
        color: var(--color-text-light-1);

        &:hover {
            color: var(--color-main-1);
        }
    }
}