.header {
    padding: 17px 0;

    @include mobile {
        padding: 12px 0;
    }

    &__inner {
        margin: 0 auto;
        padding: 0 15px;
        max-width: calc(1160px + 30px);
        display: flex;
        align-items: center;
        gap: 42px;

        @include laptop {
            gap: 12px;
        }

        @include mobile {
            flex-wrap: wrap;
            gap: 6px;
        }
    }

    &__logo {
        margin-right: auto;
        max-width: 150px;

        @include laptop {
            margin-right: 0;
        }

        @include mobile {
            max-width: 120px;
        }
    }

    &__logo-img {}

    &__burger {
        display: none;

        @include laptop {
            margin-right: auto;
            display: block;
        }

        @include mobile {
            margin-right: 0;
            margin-left: auto;
        }
    }

    &__burger-img {}

    &__menu {

        @include laptop {
            display: none;
        }
    }

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__menu-item {}

    &__menu-link {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33333;
        text-align: right;
        color: var(--color-text-dark-2);

        &:hover {
            color: var(--color-main-1);
        }
    }

    &__phone {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;

        @include mobile {
            width: 100%;
            align-items: flex-start;
        }
    }

    &__phone-text {
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 13px;
        line-height: 1.38462;
        text-align: right;
        color: var(--color-text-dark-2);
    }

    &__phone-number {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33333;
        text-align: right;
        color: var(--color-text-dark-1);

        &:hover {
            color: var(--color-main-1);
        }
    }
}