.header {
    padding: 17px 0;

    &__inner {
        margin: 0 auto;
        padding: 0 15px;
        max-width: calc(1160px + 30px);

        display: flex;
        align-items: center;
        gap: 42px;
    }

    &__logo {
        margin: 0 auto 0 0;
        max-width: 150px;
    }

    &__logo-img {}

    &__nav {

        @include laptop {
            display: none;
        }
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__nav-item {}

    &__nav-link {
        font-family: "Stem", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33333;
        text-align: right;
        color: rgba(0, 0, 0, 0.7);

        &:hover {
            color: #00d3e2;
        }
    }

    &__phone {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
    }

    &__phone-text {
        font-family: "Stem", sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.38462;
        text-align: right;
        color: rgba(0, 0, 0, 0.7);
    }

    &__phone-number {
        font-family: "Stem", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33333;
        text-align: right;
        color: #000;

        &:hover {
            color: #00d3e2;
        }
    }
}