.offer {
    position: relative;
    height: 798px;

    @include laptop {
        height: 700px;
    }

    @include mobile {
        height: 600px;
    }

    &__img-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include laptop {
            justify-content: center;
        }
    }

    &__card {
        position: relative;
        z-index: 2;
        padding: 32px;
        max-width: 350px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 16px;

        @include mobile {
            transform: translateY(-40px);
        }
    }

    &__title {
        margin-bottom: 16px;
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 28px;
        line-height: 1.14286;
        color: var(--color-text-dark-1);
    }

    &__text {
        margin-bottom: 24px;
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: 13px;
        line-height: 1.23077;
        color: var(--color-text-dark-2);
    }

    &__price {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__price-new {
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        color: var(--color-primary-1);
    }

    &__price-old {
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        text-decoration: line-through;
        color: var(--color-text-dark-2);
    }
}