.offers {
    position: relative;

    &__slider {}

    &__thumbs {
        position: absolute;
        bottom: 100px;
        right: 0;
        left: 0;
        z-index: 2;
    }

    &__thumbs-inner {
        width: 260px;
    }

    &__thumbs-img {
        border: 2px solid #fff;
        border-radius: 8px;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}