.order {
    padding: 100px 0;
    background: var(--color-primary-1) url('../img/order/order-bg.webp') no-repeat center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/order/order-bg@2x.webp');
    }

    @include tablet {
        padding: 60px 0;
    }

    @include mobile {
        padding: 30px 0;
    }

    &__inner {
        margin: 0 auto;
        max-width: 540px;
    }

    &__header {
        margin-bottom: 38px;
    }

    &__title {
        margin-bottom: 16px;
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 48px;
        line-height: 1.08333;
        text-align: center;
        color: var(--color-text-light-1);

        @include tablet {
            font-size: 42px;
        }

        @include mobile {
            font-size: 36px;
        }
    }

    &__text {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33333;
        text-align: center;
        color: var(--color-text-light-2);
    }

    &__body {}

}