.order {
    padding: 100px 0;
    background: #00D3E2 url('../img/order/order-bg.jpg') no-repeat center / cover;

    @media (min-resolution: 192dpi) {
        background-image: url('../img/order/order-bg@2x.jpg');
    }

    &__inner {
        margin: 0 auto;
        max-width: 540px;
    }

    &__header {
        margin-bottom: 38px;
    }

    &__title {
        margin-bottom: 16px;
        font-family: "Stem", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.08333;
        text-align: center;
        color: #fff;
    }

    &__text {
        font-family: "Stem", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33333;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    &__body {}

}