.services {
    background: #f7f8fa;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 380px;
        gap: 30px;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        background: var(--color-main-1);
    }

    &__item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__item-info {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__item-title {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 28px;
        line-height: 1.3;
        text-align: center;
        color: var(--color-text-light-1);
    }

    &__item-price {
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33333;
        text-align: center;
        color: var(--color-text-light-2);
    }
}